<mat-form-field appearance="outline">
  <input
    type="text"
    matInput
    [ngxMatTimepicker]="timepicker"
    [format]="24"
    [required]="required"
    placeholder="00:00"
    [formControl]="formControlItem"
  />

  <mat-icon
    matPrefix
    *ngIf="formControlItem.value && !formControlItem.disabled && !required"
    (click)="onClear($event)"
  >
    close
  </mat-icon>

  <mat-icon
    matSuffix
    *ngIf="!formControlItem.disabled"
    (click)="openFromIcon(timepicker)"
    >schedule</mat-icon
  >
</mat-form-field>

<ngx-mat-timepicker
  #timepicker
  [enableKeyboardInput]="true"
  [max]="maxTime"
  [min]="minTime"
></ngx-mat-timepicker>

                    
